@charset "UTF-8";

@media screen and (min-width: 800px) {
    body{
        height: 1050px;
        background: url(../imagens/lapis2.jpg);
        background-size: cover;
        background-repeat: none;
    }

    main{
        height: 100vh;
        margin: auto;
        max-width: 90vw;
    }

    section#cv{
        margin-top: 100px;
        height: 1050px;
        background-color: whitesmoke;
        box-shadow: -40px 40px 15px rgba(0, 0, 0, 0.434);
    }

    section#cv h1, h2, h3, p{
        font-weight: 400;
    }

    section#perfil {
        height: 150px;
        text-align: left;
        width: 70vw;
    }

    section#perfil img{
        margin-top: 20px;
        margin-right: 60px;
        float: right;
    }

    section#perfil div#perfiltxt{
        margin-left: 60px;
        margin-top: 25px;
    }

    div#perfiltxt h1{
        font-size:2em ;
    }

    section#apresentacao{
        margin-top: 13px;
        border: none;
        float: left;
        width: 20%;
        padding-left: 3%;
        padding-bottom: 300px;
    }

    section#apresentacao div{
        width: 240px;
        border-bottom: 1px solid black;
    }

    section#apresentacao div#skills{
        border: none;
    }

    section#apresentacao p{
        padding-bottom: 15px;
    }

    section#apresentacao h2 > span{
        display: none;
    }

    section#exp{
        margin-top:10px;
        float: right;
        max-width: 55%;
        margin-right: 3%;
        border-left: 1px solid black;
        padding-left: 30px;
        height: 72%;
    }

    section#exp div{
        padding-top: 0px;
        border-bottom: 1px solid black;
        margin-bottom: 40px;
    }

    section#exp div h2{
        width: 500px;
        border: none;
        padding-bottom: 20px;
    }

    section#exp ul{
        max-width: 350px;
    }

    section#exp div#prof{
        border: none;
    }
}