@charset "UTF-8";

@media screen and (max-width:1024px){

    .contato p{
        display: none;
    }

    .producao div{
    width: 300px;
    }

    .colaboradores{
    max-width: 900px;
}
}

@media screen and (max-width:576px) {

    section, aside, .variedades, .colaboradores{
        flex-wrap: wrap;
    }

    .menu{
        width: 150px;
        overflow: auto;
        position: relative;
        right: 20px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.174);
        padding: 10px 05px;
        margin-top: 10px;
    }

    .section1{
        padding-top: 40px;
    }

    .section2{
        margin-top: 100px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 20px;
    }

    footer img{
        padding-right: 10px;
        float: left;
        text-align: center;
        margin: auto;
    }

}