@charset "UTF-8";

@media screen and (max-width:1024px){

    .contato p{
        display: none;
    }

    .producao div{
    width: 300px;
    }

    .colaboradores{
    max-width: 900px;
}
}

@media screen and (max-width:576px) {

    section, aside, .variedades, .colaboradores{
        flex-wrap: wrap;
    }

    .menu{
        display: none;
    }

    .section2{
        margin-top: 100px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 20px;
    }

    footer img{
        padding-right: 10px;
        float: left;
        text-align: center;
        margin: auto;
    }

}