@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    height: 60vh;
    margin: auto;
    background-image: url(../imagens/morango-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.head{
    margin: auto;
    max-width: 1200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(63, 10, 6);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.363);
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > img{
    width: 50px;
    height: 50px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 60px;
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.menu > li{
    cursor: pointer;
}

.menu > li:hover{
    transition-duration: 0.2s;
    text-decoration: underline;
    color: rgb(255, 88, 88);
}

.contato{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contato > input{
    color: white;
    background-color: rgba(240, 248, 255, 0);
    padding: 10px;
    border: 1px solid;
    border-radius: 30px;
}

.contato > p{
    color: white;
    display: flex;
    gap: 5px;
}

