@media screen and (max-width: 768px) {
    span#icon{
        float: left;
        display: block;
        cursor: pointer;
        margin: 20px;
        margin-top: -55px;
        transition-duration: 0.25s;
    }

    header {
        text-align: center;
        height: 120px;
    }

    header h1{
        display: block;
        padding-top: 20px;
    }
    
    nav#menu{
        display: none;
        float:left ;
        margin-top: -40px;
    }

    nav#menu a{
        margin: 12px;
        padding: 5px;
        display: block;
    }
}