@media screen and (max-width: 768px) {
    span#icon{
        display: none;
        cursor: pointer;
        padding: 10px;
        padding-top: 35px;
    }

    header {
        text-align: center;
    }

    header h1{
        padding-top: 20px;
    }
    
    nav#menu{
        padding-top: 15px;
        text-align: center;
        width: 100vw;
        padding-bottom: 10px;
    }
}