@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: auto;

}

header{
    background-color: rgba(0, 0, 0, 0.396);
    height: 100px;
    color: white;
    text-align: center;
    margin: auto;
}
header h1{
    font-family: 'Philosopher', sans-serif;
    font-variant: small-caps;
    display: block;
    font-size: 45px;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.539);
}
header nav{
    padding-top: 5%;
    padding-left: 60%;
}
header a{
    transition-duration: 0.25s;
    font-size: 12px;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 15px rgba(253, 253, 253, 0.534);
}
header a:hover{
    transition-duration: 0.25s;
    font-size: 17px;
}

#imagem-titulo{
    height: 450px;
    background-image: url(../imagens/salão-2.jpg);
    box-shadow: inset 2px 2px 12px black;
    background-size: cover;
    background-repeat: none;
    background-position: center center;
}
#sub-titulo{
    background-color: rgba(0, 0, 0, 0.315);
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.507);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: lighter;
    margin: 5%;
    margin-top: 80px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.65);
    width: 300px;
    padding: 20px;
}
#sub-titulo > h2{
    font-size: 2em;
    margin-bottom: 10px;
}

article{
    background-color: white;
    text-align: center;
}
article > h2{
    padding-top: 70px;
    padding-bottom: 20px;
}
article > p{
    margin: auto;
    max-width: 80vw;
    padding-bottom: 40px;
    font-size: 16px;
}

.box{
    display: inline-block;
    width: 350px;
    font-size: 16px;

}
.box > img{
    vertical-align: center;
    max-width: 340px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.box p{
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 2.3em;
}

.container{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    height: 450px;
    box-shadow:inset 6px 6px 12px rgba(0, 0, 0, 0.59) ;
    margin-top: 40px;
}
#container1{
    background-image: url(../imagens/salão-ambiente.jpg);
}
.containertext{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.422);
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}
.containertext h2{
padding-top: 70px;
padding-bottom: 20px;
margin: auto;
max-width: 600px;
font-size: 50px;
}
.containertext p{
    font-size: 0.8em;
}
.buttom{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border: none;
}

.serviços{
    margin: auto;
    max-width: 800px;
}
.coluna{
    margin: auto;
    width: 300px;
    display: inline-block;
}
.coluna p{
    padding-top: 10px;
    padding-bottom: 30px;
}
.imgcoluna img{
    max-width: 280px;
    margin-right: 55px;
}
.imgcoluna{
    float: right;
    vertical-align: top;
}

#container2{
max-width: 1400px;
background-image: url(../imagens/salão-ambiente-2.jpg);
background-position: left center;
width: 100%;
margin-top: 0px;
position: absolute;
}