@charset "UTF-8";   

@media screen and (min-width: 768px) {

    div{
        margin-top: 20px;
    }

    header {
        margin: auto;
        max-width: 680px;
        padding: 20px;
    }

    header nav{
        background-color: rgba(19, 124, 19, 0.877);
        border-radius: 20px;
        height: 35px;
        padding: 10px 10px 0px 10px;
        margin-right: 20px;
        margin-top: -5px;
        float: right;
        display: block;
    }

    header nav > a{
        transition-duration: .25s;
        color: white;
        display: inline;
        padding: 10px;
        border: none
    }

    header nav > a:hover{
        transition-duration: .25s;
        background-color: rgba(255, 255, 255, 0);
        font-size: 18px;
        margin: -2px;
    }

    header img#botao-menu{
        display: none;
    }

    header div#back{
    height: 430px;
    line-height: 3em;
    font-size: 2em;
    }

    main{
    max-width: 700px;
    margin: auto;
    }

    article div#eleve img{
        max-width: 500px;
    }

    article div.console p, article div.console h2{
        width: 300px;
    }

     article div#xbox1 p, article div#xbox1 h2{
        width: 300px;
        float: right;
    }


    div#xbox1{
        margin-bottom: 300px;
    }

    #xbox2 .button{
        float: right;
    }

    aside{
        margin-top: 100px;
    }

    aside div#gamepass img{
        width: 650px;
    }
}

@media screen and (min-width: 1200px) {
    header{
        max-width: 1100px;
    }

    header div#front{
    height: 390px;
    }

    header div#front h1{
        padding-top: 50px;
    }

    header div#back{
        margin-top: 120px;
    }

      main{
        max-width: 1000px;
    }

      article div#eleve img{
        max-width: 700px;
    }

        [data-anime="eleve"]{
        transform: translate3d(0, 50px, 0);
}

    article div#container {
        width: 1100px;
        text-align: center;
        padding-bottom: 250px;
}

    article [data-anime="top"]{
        transform: translate3d(-50px, 0, 0);
    }

    article div.specs{
        float: left;
        width: 350px;
    }

    article div#xbox2 p, article div#xbox2 h2{
        width: 400px;
        padding-left: 200px;
    }

     article div#xbox1 p, article div#xbox1 h2{
        width: 400px;
        padding-right: 200px;
    }

    aside div#gamepass{
        margin: auto;
        padding-top: 100px;
        padding-bottom: 50px;
        width: 800px;
    }

     aside div#gamepass img{
        width: 800px;
        margin-bottom: 10px;
     }
}