@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Josefin+Sans:wght@100;400 & display=swap');

:root{
    --cor0: #F7BAED;
    --cor1: #c09df796;
    --cor2: #f76fe083;
    --cor3: #AB4D9B;
    --cor4: #78366D;

    --font-head: sans-serif;
    --font-destaque: 'Roteiro Kaushan';
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-head);
}
article p{
    text-align: justify;
    margin: 5px 0px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 20px;
}

body{
    background-image: linear-gradient(to top, var(--cor1) 20%, var(--cor2), var(--cor0));
}

header{
    background-color: rgba(255, 255, 255, 0.705);
    color: var(--cor4);
    height: 100px;
    text-align: center;
}
header > h1{
    padding-top: 10px;
    font-size: 3em;
    text-shadow: 02px 02px 5px rgba(0, 0, 0, 0.363);
}
header > p{
    text-shadow: 02px 02px 5px rgba(0, 0, 0, 0.363);
}
nav{
    background-color: var(--cor3);
    padding-top: 15px;
    padding-bottom: 6px;
    padding-left: 5px;
}
nav a{
    text-decoration: none;
    padding: 5px;
    color: white;
    font-weight: bold;
}
nav a:hover{
    background-image: linear-gradient(to right, transparent, var(--cor0));
    transition-duration: 0.08s;
    color: black;
    border-radius: 8px;
}
main{
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.534);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 0px 15px;
}
main h1, h2{
    font-size: 2.2em;
    margin: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
}
h3{
    font-size: 2em;
    text-indent: 30px;
}
.Oqueé{
    padding: 15px;
}
.imgesquerda{
    width: 30%;
    max-width: 110px;
    margin-right: 20px;
    float: left;
}
.Oqueé > p{
    width: 100%;
}

.Beneficios{
    padding: 15px;
}
.imgdireita{
    width: 40%;
    max-width: 200px;
    margin-left: 20px;
    float: right;
}
.Beneficios p{
    width: 100%;
}
ul{
    padding-left: 20px;
}
li{
    padding-top: 10px;
    font-size: 1.5em;
}
.imgcentro{
    padding-top: 25px;
    display: block;
    margin: auto;
    width: 80%;
    padding-bottom: 30px;
}
.videos{
    position: relative;
}
article iframe{
    width: 48%;
    height: 45%;
    border-radius: 10px;
    position: relative;
    left: 2%;
}
aside > iframe{
    width: 93%;
    border-radius: 10px;
    position: relative;
    left:3.5%;
}
aside{
    padding-top: 30px;
    padding-bottom: 10px;
}
aside > p{
    margin: 5px 0px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}
.contato  p{
    text-align: justify;
    font-size: 1em;
    line-height: 1.4em;
}
.contato{
    margin: 20px;
    border-radius: 20px;
    background-image: linear-gradient(320deg, #c09df73b, transparent);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.158);
    padding: 20px;
}
#texto{
    display: inline-block;
    width: 60%;
}
#caixas{
    float: right;
    width: 35%;
}
aside input{
    border-style: none;
    background-color: rgba(255, 255, 255, 0.466);
    color: rgba(0, 0, 0, 0.575);
    font-size: 0.8em;
    width: 90%;
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
    padding-left: 5px;
    
}
#botão{
    display: block;
    padding-left: 0px;
    width: 50px;
}
input:hover{
    background-image: linear-gradient(320deg, transparent, #c09df762);
    transition-duration: 0.2s;
    color: black;
}

footer{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.705);
    font-size: 10px;
    text-align: center;
}
footer  a{
    text-decoration: none;
    font-weight: normal;
    color: black;
    font-style: italic;
}
footer a:hover{
    color: var(--cor4);
    text-decoration: underline;
}